name: Continuous Integration

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    timeout-minutes: 10

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x, 16.x]
        cypress-version: [5.6.0, 6.4.0, 7.5.0, 8.3.1]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: bash test.sh ${{ matrix.cypress-version }}
